body
{
  margin: 0px;
  padding: 0px;  
}

*
{
  box-sizing: border-box;
  user-select: none;

}

.App-header
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 6rem;
  padding-bottom: 30px;
}

.App-header h1
{
  font-weight: 500;
  color: var(--bs-orange);
  cursor: pointer;

}
